.name {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

#carousel {
  text-align: center;
}

h3 {
  text-align: center;
}

button {
  margin: 1%;
  border-radius: 28px;
}

.navbar {
  background-color: #364f6b;
  position: static;
}

.title {
  text-align: center;
  display: inline;
}

.info {
  text-align: center;
  list-style-type: none;
}

.nav-link {
  padding: 0;
  margin-bottom: 0;
}
